@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font: italic 1.2em "Fira Sans", serif;
  background-color: rgba(11, 57, 220, 0.781);
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 10px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 200px;
  background: -moz-repeating-linear-gradient(rgb(0, 255, 85),white);
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grabbing;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}


.hold{
  border: 5px solid rgb(0, 175, 111);
  bottom:auto;
  background: linear-gradient(#ff85e4, #209cff, #84fab0);
  border-radius: 30px;
  border: all;
}
.hide{
  display: none;
}
.hovered{
  border-top: 2px solid #050505;
}
.item input{
  border-radius: 0%;
  width: 100px;
  color: linear-gradient(#ff85e4, #209cff, #84fab0);
  font: italic small-caps bold 12px/2 cursive;
}









































